.main {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: auto;
  margin-top: 4rem;
}

.mainGrid {
  height: 10rem;
  padding: 0.5rem;
}



body {
  --sb-track-color: #585c61;
  --sb-thumb-color: #292b2d;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}