.main {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: auto;
  margin-top: 4rem;
}

.mainGrid {
  height: 10rem;
  padding: 0.5rem;
}
