body {
  --sb-track-color: #585c61;
  --sb-thumb-color: #292b2d;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

::selection{
  background: rgba(54, 53, 53, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

::-moz-selection{
  background: rgba(54, 53, 53, 0.5);
  color: rgba(255, 255, 255, 0.5);
}